@media screen and (max-width: 480px) {
  header {
    justify-content: center;
    padding: 10px 10px;
    gap: 10px;
  }

  .header-img {
    width: 40%;
    margin-left: 70px;
  }

  .container {
    gap: 20px;
  }

  .container-text {
    text-align: center;
  }

  .container-text h1 {
    font-size: 2.12rem;
  }

  .container-text p {
    font-size: 1.1rem;
  }

  .container-card {
    flex-direction: column;
  }

  .card {
    height: 400px;
    width: 100%;
    padding: 20px 0px;
  }

  #categorias-sec h2{
    text-align: center;
    justify-content: center;
  }

  .card-categoria {
    height: 250px;
    width: 100%;
    padding: 10px 0px;
  }

  footer {
    flex-direction: column;
    gap: 5px;
  }

  .footer-text {
    width: 100%;
    align-items: center;
  }

  .footer-img {
    width: 100%;
    padding: 20px 20px;
  }

  .footer-img2 {
    justify-content: center;
  }

  span {
    left: 10px;
    top: 120px;
  }
}
